body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.box {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 90%;
}

button {
    padding: 8px 15px;
    background: #4CAF50;
    color: white;
    border: none;
}
